<% @photo_albums.each_slice(2) do |slice| %>
  <div class="row">
    <% slice.each do |photo_album| %>
      <div class="col-md-6">
        <div class="thumbnail <%= !photo_album.cover_photo.nil? ? 'photo-album' : 'fallback-photo' %>">
          <a href="<%= gallery_photo_album_path(photo_album) %>">
            <img alt="<%= photo_album.name %>"
                 src="<%= photo_album.cover_photo ? photo_album.cover_photo.photo_file_url(:thumb) : image_url('fallback/default.png') %>"></img>
          </a>
          <div class="caption">
            <h3><%= photo_album.name %></h3>
            <p><%= photo_album.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
