<div class="row no-margins gallery">
  <div class="gallery-caption row no-margins">
    <div class="col-md-12">
      <p class="text-center h3"><%= t('models') %></p>
    </div>
  </div>

  <div class="breadcrumb-container row">
    <div class="col-md-12 no-padding">
      <ol class="breadcrumb">
        <li><a href="<%= gallery_path %>"><%= t('gallery_page') %></a></li>
        <li class="active">
          <%= %Q[#{t('photo_album.photo_album')} "#{@photo_album.name}"] %>
        </li>
      </ol>
    </div>
  </div>

  <div class="col-md-12">
    <%= render 'gallery/models/covers' %>
  </div>
</div>
