<div class="row admin-table-header">
  <div class="col-md-6">
    <h2><%= t 'comments' %></h2>
  </div>

  <div class="col-md-6">
    <ul class="pull-right">
      <li>
        <%= link_to t('actions.edit'), '#', class: 'btn btn-primary btn-edit hidden' %>
      </li>
      <li>
        <%= link_to t('actions.publish'), '#', method: :post, class: 'btn btn-success btn-publish hidden',
                    data: {confirm: t('comment.confirm.actions.publish')} %>
      </li>
      <li>
        <%= link_to t('actions.unpublish'), '#', method: :post, class: 'btn btn-default btn-unpublish hidden',
                    data: {confirm: t('comment.confirm.actions.unpublish')} %>
      </li>
      <li>
        <%= link_to t('actions.delete'), '#', class: 'btn btn-danger btn-delete hidden', method: :delete,
                    data: {confirm: t('comment.confirm.actions.destroy')} %>
      </li>
    </ul>
  </div>
</div>

<table class="table table-hover admin-table comments">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.comment.id' %></th>
    <th><%= t 'activerecord.attributes.comment.author' %></th>
    <th><%= t 'activerecord.attributes.comment.text' %></th>
    <th><%= t 'activerecord.attributes.comment.created_at' %></th>
    <th><%= t 'activerecord.attributes.comment.published_at' %></th>
    <th><%= t 'activerecord.attributes.comment.photo' %></th>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
      <% if comment.published %>
          <tr class="success published">
      <% else %>
          <tr>
      <% end %>
      <td class="id"><%= comment.id %></td>
      <td><%= comment.author %></td>
      <td><%= truncate_text comment %></td>
      <td><%= l comment.created_at, format: date_time_format %></td>
      <td><%= comment.published_at.nil? ? '' : l(comment.published_at, format: date_time_format) %></td>
      <td>
        <div class="photo-thumbnail">
          <img src="<%= comment.photo.photo_file_url(:thumb) %>">
        </div>
      </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate class: 'pagination pull-right' %>
