<div class="row dashboard-table-header">
  <div class="col-md-8">
    <h2><%= t 'models' %></h2>
  </div>

  <%= render 'shared/common_list_actions', __new_model_path: new_model_path(page: params[:page]),
             __model_name: 'model' %>
</div>

<table class="table table-hover dashboard-table models">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.model.id' %></th>
    <th><%= t 'activerecord.attributes.model.name' %></th>
    <th><%= t 'activerecord.attributes.model.photo_album' %></th>
  </tr>
  </thead>
  <tbody>
  <% @models.each do |model| %>
      <tr>
        <td class="id"><%= model.id %></td>
        <td><%= model.name %></td>
        <td><%= model.photo_album.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate class: 'pagination pull-right' %>
