<div class="row admin-table-header">
  <div class="col-md-8">
    <h2><%= t 'photos' %></h2>
  </div>

  <%= render 'admin/shared/common_list_actions', args: {
      new_model_path: new_admin_photo_path(page: params[:page]),
      model_name: 'photo'
  } %>
</div>

<table class="table table-hover admin-table photos">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.photo.id' %></th>
      <th><%= t 'activerecord.attributes.photo.title' %></th>
      <th><%= t 'activerecord.attributes.photo.photo_file' %></th>
      <th><%= t 'activerecord.attributes.photo.model' %></th>
      <th><%= t 'photo.thumbnail' %></th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td class="id"><%= photo.id %></td>
        <td><%= photo.title %></td>
        <td><%= photo.photo_file %></td>
        <td><%= photo.model.name %></td>
        <td>
          <div class="photo-thumbnail">
            <img src="<%= photo.photo_file_url(:thumb) %>">
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate class: 'pagination pull-right' %>
