<h2><%= @photo_album.name %></h2>

<div class="form-group">
  <strong><%= t 'activerecord.attributes.photo_album.name' %>:</strong>
  <%= @photo_album.name %>
</div>

<div class="form-group">
  <strong><%= t 'activerecord.attributes.photo_album.description' %>:</strong>
  <%= @photo_album.description %>
</div>

<%= link_to t('actions.edit'), edit_admin_photo_album_path(@photo_album, page: params[:page]),
            class: 'btn btn-primary' %>
<%= link_to t('actions.cancel'), admin_photo_albums_path(page: params[:page]),
            class: 'btn btn-default' %>
