<%= form_for(@category) do |f| %>
  <%= render 'shared/form_errors', model: @category, new_model: new_category %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.submit t("actions.#{new_category ? 'create' : 'save'}"),
      class: 'btn btn-success' %>
  <%= link_to t('actions.cancel'), categories_path, class: 'btn btn-default' %>
<% end %>
