<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>

  <title><%= t 'brand' %></title>

  <%= render 'layouts/turbolinks' %>
  <%= render 'layouts/html5shim' %>
</head>
<body class="application-body">
  <div class="page-wrapper">
    <div class="container-fluid no-padding">
      <%= render 'layouts/header' %>

      <div class="row no-margins">
        <% if flash[:notice] %>
          <div class="col-md-12">
            <div class="alert alert-info">
              <%= notice %>
            </div>
          </div>
        <% end %>

        <% if flash[:warn] %>
          <div class="col-md-12">
            <div class="alert alert-warning">
              <%= warn %>
            </div>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="col-md-12">
            <div class="alert alert-danger">
              <%= alert %>
            </div>
          </div>
        <% end %>
      </div>

      <div id='<%= "#{params[:controller]}:#{params[:action]}" %>'
           class="page-content">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</body>
</html>
