<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>

  <title><%= t 'brand' %></title>

  <%= render 'layouts/turbolinks' %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=cyrillic,latin'
        rel='stylesheet' type='text/css'>

  <%= render 'layouts/html5shim' %>
</head>
<body class="application-body">
  <div class="page-wrapper">
    <div class="container">
      <%= render 'layouts/header' %>

      <div id='<%= "#{params[:controller]}_#{params[:action]}" %>'
           class="page-content">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</body>
</html>
