<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>

  <title><%= t 'brand' %></title>

  <%= render 'layouts/turbolinks' %>
  <%= render 'layouts/html5shim' %>
</head>
<body class="sign-in-body">
<%= render 'layouts/navbar' %>

<%= yield %>
</body>
</html>
