<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>

  <title><%= t 'brand' %></title>

  <%= render 'layouts/turbolinks' %>
  <%= render 'layouts/html5shim' %>
</head>
<body class="signin-body">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t('brand'), root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>

<%= yield %>
</body
</html>
